<div id="banner">
  <%= link_to image_tag("Untitled.png", :height => '190'), root_path %> 
</div>
<h1>Contact Information and About Our Company</h1>
<div class="products">
  <div class="product">
    <h2>About Us</h2>
    <p>
      Our company started with just five friends who all wanted to have real life like props like you see in movies, or on your favourite TV show.
      We started off making simple props and found out that more people would also like to have certain items as well, and since 2008 we have been making
      life like props for everyone to enjoy!
    </p>
    <p>
      We started off travelling to conventions, and placing our products in magazine, we have been making lots of contacts and have found that it would be
      to keep in touch with our clients and get new ideas if we had our company online.  We hope to have a fully functional site within the year, as for right
      now you can view each of our products and place an order either through: phone, mail, or email!
    </p>
  <h2>Contact Information</h2>
    <p>Address: 235 Courscant Way, Courscant City Courscant</p>
    <p>Phone:   876-555-5483</p>
    <p>Email:   replicawyzard@gmail.com</p>
  </div>
  
</div>
<div class="actions">
  <%= link_to 'Back', root_path %>
</div>